.book-search-result {
    border-color: lightpink;
    border-radius: 1rem;
    border-style: solid;
    border-width: 3px;
    padding: 1rem;
}

.book-search-result:hover {
    background-color: lightpink;
    border-color: deeppink;
}
