.review-search-result {
    background-color: lightskyblue;
    border-color: cornflowerblue;
    border-style: dashed;
    border-width: 3px;
    padding: 1em;
}

.review-search-result:hover {
    background-color: lightgrey;
    border-style: solid;
}
