.user-search-result {
    background-color: greenyellow;
    border-color: green;
    border-style: dashed;
    border-width: 3px;
    padding: 1em;
}

.user-search-result:hover {
    background-color: lightgrey;
    border-style: solid;
}
