.user-search-result {
    border-color: limegreen;
    border-radius: 1rem;
    border-style: solid;
    border-width: 3px;
    padding: 1rem;
}

.user-search-result:hover {
    background-color: lightgreen;
    border-color: darkgreen;
}
