.review .body {
    margin: 2rem;
    text-align: left;
}

.review span:first-child  {
    font-weight: bold;
}

.review .start span:last-child, .review .stop span:last-child {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

code {
    background-color: #def;
    border-radius: 0.33rem;
    font-size: smaller;
    padding: 0rem 0.25rem;
}
