.user-review {
    display: contents;
}

a {
    display: contents;
}

.user-review .start {
    grid-column: 2;
    justify-self: end;
}

.user-review .book {
    grid-column: 3;
    justify-self: start;
}
