a {
    display: contents;
}

.user-review {
    display: contents;
}

.user-review .start {
    grid-column: 2;
    justify-self: end;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
    font-size: smaller;
    color: darkslategray;
}

.user-review .book {
    grid-column: 3;
    justify-self: start;
}
