.book-review {
    display: contents;
}

a {
    display: contents;
}

.book-review .start {
    grid-column: 2;
    justify-self: end;
}

.book-review .reviewer {
    grid-column: 3;
    justify-self: start;
}
